<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>io.fanctl.menubar</string>
    <key>CFBundleName</key>
    <string>Fanctl</string>
    <key>CFBundleExecutable</key>
    <string>fanctl-bar</string>
    <key>CFBundleVersion</key>
    <string>1.9.3</string>
    <key>CFBundleShortVersionString</key>
    <string>1.9.3</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleLocalizations</key>
    <array><string>en</string><string>zh-Hans</string><string>ja</string><string>ko</string><string>es</string><string>fr</string><string>de</string><string>ru</string></array>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>LSUIElement</key>
    <true/>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
